body{
    background-color: #529ac7;
	font-size:16px;
	color:black;
	font-family: Arial, Helvetica, sans-serif;
}
 
.content{
	width: 80%;
	margin: 10px auto;
}
 
/*header*/
header{
	background-color: white;
	padding: 20px 10px;
	border-radius: 5px;
	border: 1px solid #f0f0f0;
	margin-bottom: 10px;
}
 
header h1.judul,
header h3.deskripsi{
	text-align: center;	
}
 
/*menu navigasi*/
.menu{
	background-color: #87CEFA;
	border: 1px solid #f0f0f0;
	border-radius: 8px;	
	margin-bottom: 10px;
}
 
div.menu ul {
	list-style:none;
	overflow: hidden;
}
 
 
div.menu ul li {
	float:left;		
	text-transform:uppercase;
}
 
div.menu ul li a {
    text-align: center;
	display:block;	
	padding: 20px;
    margin-right: 20px;
	text-decoration:none;
	color:#2c2c2c;
	font-family: sans-serif;
	font-size:13px;
	font-weight:400;
	transition:all 0.3s ease-in-out;
    right: 10px;
}
 
div.menu ul li a:hover,
div.menu ul li a.hoverover {	
	cursor: pointer;	
	color: green;
    -webkit-text-stroke: 0.5px green;
}
 
 
div.badan{
	background-image: linear-gradient(purple, pink);
	border-radius: 5px;
	border: 1px solid #f0f0f0;
	margin-bottom: 10px;
}
 
div.halaman{
	text-align: center;
	padding: 30px 20px;	
}